@charset "utf-8";

div#tv-radio {
	background: url("../_imagens/radio-tv.png") no-repeat;
        margin: auto;
        width: 900px;
        height: 573px;
}

div#tv-radio audio#musica {
    display: block;
    position: relative;
    left: 573px;
    top: 500px;
}

div#tv-radio video#filme {
    display: block;
    position: relative;
    width: 450px;
    height: 278px;
    left: 80px;
    top: 60px;
}